<!DOCTYPE html>
<html>
<head>
    <title>Recipes without Product</title>
</head>
<body>

<h2>Recipes without Product or with Quantity Less than 10g</h2>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
